:root {
    --bgc: #fce2b2;
    --contrast: #f8d085;
    --primary: #6588d1;
    --hover: #31539e;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: var(--bgc);
    min-height: 100svh;
}

.header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--contrast);
}
.logo{
    max-width:5rem;
}
button{
    all: unset;
}
.header .burger{
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
#burger{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
#top-bar,#bar,#bottom-bar{  
    display: block;
    content: '';
    width: 80%;
    height: 3px;
    background-color: var(--primary);
    margin: 0.35rem 0.2rem;
    border-radius:50px;
    transition: all 450ms;
}

#burger.bars #top-bar{
    transform: rotate(45deg) translate(-2px, -1px);
    transform-origin: 0px 100%;
}
#burger.bars #bottom-bar{
    transform: rotate(-225deg) translate(-4px, 9px);
}
#burger.bars #bar{
    opacity: 0;
}


.nav{
    width: 100%;
    background-color: var(--contrast);
    margin: 1rem 0;
    padding: 1.5rem;
    gap: 2rem;
    display: none;
}
.nav.active{
    display: block;
}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem; 
}
.nav-list li {
    margin: 1rem .0;
}
.nav-list li a{
    text-decoration: none;
    color: var(--primary);
}
#map{
    height: 90vh;
    width: 49vh;
}

#map path {
    fill: var(--primary);
    stroke: var(--bgc);
    stroke-width: 2px;
}
#map :hover{
    fill: var(--hover);
}





@media (width > 768px) {

 .header .burger{
    display: none;
}
.header{
    flex-flow: row nowrap;
    gap: 2rem;
}
.nav{
    width: 100%;
    display: block;
}
.nav-list{
    flex-direction: row;

}
.nav-list li {
    margin: 0 .5 rem;
}
}