*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgc: #ecdcc9;
    --bgc-sec-content:#7c6442;
    --contrast: #edd4b2;
    --primary: #a35959;
    --hover: #641a34;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100 svh; /* es para que se vea bien en el celular considerando la barra de navegacion y botonera de abajo*/
    background-color: var(--bgc);
}

/*estilos nav*/
.header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5 rem;
    background-color: var(--contrast);
}
.logo{
    max-width:5rem;
}
button{
    all: unset;
}
.header .burger{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
#burger{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
#top-bar,#bar,#bottom-bar{  
    display: block;
    content: '';
    width: 80%;
    height: 3px;
    background-color: var(--primary);
    margin: 0.35rem 0.2rem;
    border-radius:50px;
    transition: all 450ms;
}

#burger.active #top-bar{
    transform: rotate(45deg) translate(-2px, -1px);
    transform-origin: 0px 100%;
}
#burger.active #bottom-bar{
    transform: rotate(-225deg) translate(-4px, 9px);
}
#burger.active #bar{
    opacity: 0;
}


.nav{
    width: 100%;
    background-color: var(--contrast);
    gap: 2rem;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    margin: 0.2rem 0;


}
.nav.active{
    height: 30vh;
    pointer-events: auto;

}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem; 
}
.nav-list li {
    margin: 1rem .0;
}
.nav-list li a{
    text-decoration: none;
    color: var(--bgc);
    background-color: var(--primary);
    padding: 0.4rem;
    border-radius: 3px;
}

/*-- secciones --- */
.section {
    background-size:contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 3 / 2;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 3fr 3fr;
    gap: 5px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    padding:5%;
}

.inicio{
    background-image: url(/assets/imagen-inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.celda{
    background-color: white;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

.nea-uno{
    background-image: url(/assets/nea-corrientes.jpg);
}

.nea-dos{
    background-image: url(/assets/nea-misiones.jpeg);
}

.nea-tres{
    background-image: url(/assets/nea-formosa.jpg);
}

.nea-cuatro{
    background-image: url(/assets/nea-corrientes2.jpeg);
}

.nea-cinco{
    background-image: url(/assets/nea-chaco.jpg);
}

.nea-seis{
    background-image: url(/assets/nea-misiones2.jpg);
}

.noreste {
        background-color: #FCAF52;
}

.cuyo{
    background-color: #BA5624;
}

.noroeste{
        background-color: #FFCB5A;
}

.patagonica{
            background-color: #32AFBA;
}

.pampeana{
        background-color: #8FD83C;
}


.contenido {
    position: absolute;
    padding: 2%; 
    background-color: #8b343480;
    border-radius: 2%;
    width: 80%;
    left:10%;
    
}


.footer{
    bottom:0;
    left: 0;
    width: 100%;
    padding: 5%;
    display:block;
    background-color: var(--primary);
    color: white;
    text-align: center;
}


/* -- diseño para computadora --*/

@media(width > 770px)
{   
    .inicio{
        background-size:contain;
        background-repeat: no-repeat;
        background-color: var(--bgc);
    }

    .header .burger{
        display: none;
    }
    .header{
        flex-flow: row nowrap;
        gap: 1rem;
    }
    .nav{
        display: flex;
        width: 100%;
        height: auto;
        margin: 0.5rem 0;
        padding: 1rem;
        align-items: flex-end;
        pointer-events: auto;
    }
    .nav-list{
        flex-direction: row;
    
    }
    .nav-list li {
        margin: 0 .5 rem;
    }
    
    .nav-list li a:hover{
        background-color: var(--hover);
    }
    
}

