:root {
    --bgc: #fadcbe;
    --contrast: #babfca;
    --primary: #3f6796;
    --hover: #72a5d4;
    --highlight:#041527;
    --try:#885e8b;
}
/*

    --bgc: #ecdcc9;
    --contrast: #edd4b2;
    --primary: #a35959;
    --hover: #641a34;
    --highlight:#3b0125;

    --bgc: #fce2b2;
    --contrast: #fcd792;
    --primary: #4d243d;
    --hover: #82746A;
    
    :root {
    --bgc: #fce2b2;
    --contrast: #f8d085;
    --primary: #6588d1;
    --hover: #31539e;
}*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    font-family: sans-serif;
    background-color: var(--bgc);
    min-height: 100svh;
}
/*menu*/

.header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5 rem;
    background-color: var(--contrast);
}
.logo{
    max-width:5rem;
    cursor: pointer;

}
button{
    all: unset;
}


.header .burger{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
#burger{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
#top-bar,#bar,#bottom-bar{  
    display: block;
    content: '';
    width: 80%;
    height: 3px;
    background-color: var(--primary);
    margin: 0.35rem -0.8rem;
    border-radius:50px;
    transition: all 450ms;
    margin: 0.35rem -0.8rem;
}

#burger.active #top-bar{
    transform: rotate(45deg) translate(-2px, -1px);
    transform-origin: 0px 100%;
}
#burger.active #bottom-bar{
    transform: rotate(-225deg) translate(-4px, 9px);
}
#burger.active #bar{
    opacity: 0;
}

.nav{
    width: 100%;
    background-color: var(--contrast);
    gap: 2rem;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    margin: 0.2rem 0;
    font-size: 2rem;
}
.nav.active{
    height: 40vh;
    pointer-events: auto;

}
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem; 
}
.nav-list li {
    margin: 1rem .0;
}
.nav-list li a{
    text-decoration: none;
    color: var(--bgc);
    background-color: var(--primary);
    padding: 0.4rem;
    border-radius: 3px;
    /* box-shadow: 0 0 0 0.2rem #0f0f0f2a; */
}

/*index*/
/*-- estilo para secciones , grid e imagenes de cada region --- */
.section {
    background-size:contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 3 / 2;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 3fr 3fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding:5%;
}

.inicio{
    background-image: url(../assets/imagen-inicio.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.celda{
    background-color: white;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

/* ---- ubicacion de imagenes para el section Noreste-----*/
.nea-uno{
    background-image: url(../assets/index/nea-corrientes.webp);
}

.nea-dos{
    background-image: url(../assets/index/nea-misiones.webp);
}

.nea-tres{
    background-image: url(../assets/index/nea-formosa.webp);
}

.nea-cuatro{
    background-image: url(../assets/index/corrientes1.webp);
}

.nea-cinco{
    background-image: url(../assets/index/nea-chaco.webp);
}

.nea-seis{
    background-image: url(../assets/index/nea-misiones2.webp);
}

/*------Ubicacion de imagens para Noroeste/ NOA------*/

.noa-uno{
    background-image: url(../assets/index/noa-jujuy.webp);
}

.noa-dos{
    background-image: url(../assets/index/noa-tucuman.webp);
}
.noa-tres{
    background-image: url(../assets/index/noa-catamarca.webp);
}

.noa-cuatro{
    background-image: url(../assets/index/noa-santiago.webp);
}

.noa-cinco{
    background-image: url(../assets/index/noa-salta.webp);
}

.noa-seis{
    background-image: url(../assets/index/noa-jujuy2.webp);
}

/*------ Ubicacion de images para cuyo --------*/
.cuyo-uno{
    background-image: url(../assets/index/cuyo-sanjuan.webp);
}
.cuyo-dos{
    background-image: url(../assets/index/cuyo-mendoza2.webp);
}
.cuyo-tres{
    background-image: url(../assets/index/cuyo-larioja.webp);
}
.cuyo-cuatro{
    background-image: url(../assets/index/cuyo-sanluis.webp);
}
.cuyo-cinco{
    background-image: url(../assets/index/cuyo-sanjuan2.webp);
}
.cuyo-seis{
    background-image: url(../assets/index/cuyo-mendoza.webp);
}

/*------ Ubicacion de imagenes para region pampeana -----*/
.pamp-uno{
    background-image: url(../assets/index/pampeana-entrerios.webp);
}
.pamp-dos{
    background-image: url(../assets/index/pampeana-buenosaires.webp);
}
.pamp-tres{
    background-image: url(../assets/index/pampeana-cordoba.webp);
}
.pamp-cuatro{
    background-image: url(../assets/index/pampeana-lapampa.webp);
}
.pamp-cinco{
    background-image: url(../assets/index/pampeana-santafe.webp);
}
.pamp-seis{
    background-image: url(../assets/index/pampeana-entrerios2.webp);
}

/*------ Ubicacion de imagenes para region patagonia -------*/

.pat-uno{
    background-image: url(../assets/index/patagonia-neuquen.webp);
}
.pat-dos{
    background-image: url(../assets/index/patagonia-santacruz.webp);
}
.pat-tres{
    background-image: url(../assets/index/patagonia-rionegro.webp);
}
.pat-cuatro{
    background-image: url(../assets/index/patagonia-neuquen2.webp);
}
.pat-cinco{
    background-image: url(../assets/index/patagonia-chubut.webp);
}
.pat-seis{
    background-image: url(../assets/index/patagonia-santacruz2.webp);
}
/*-------------- Color de fondo para cada region------------*/
.noreste {
    background: linear-gradient(#FCAF52,90%,#FFCB5A);
}

.noroeste{
    background: linear-gradient(#FFCB5A,90%,#BA5624);
}
.cuyo{
    background: linear-gradient(#BA5624,90%,#8FD83C);

}
.pampeana{
    background: linear-gradient(#8FD83C,90%, #32AFBA);
}

.patagonica{
    background: linear-gradient(#32AFBA,90%,var(--primary));
}


/* --------- estilos del contenido para todos los section   --------*/
.contenido {
    position: absolute;
    padding: 2%; 
    background-color:  rgba(5, 5, 5, 0.562);
    border-radius: 2%;
    width: 70%;
    left:16%;
    
}

.bienvenidos {
    font-size: 2em;
}

.intro{
    font-size: 1.5em;
}

.container{
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: center center;
}
.content-wrap{
    padding-bottom: .5rem;
}

/*passport*/
.title{
    margin: 1rem;
    font-size: 2.6rem;
    color: var(--primary);
    align-self: center;
    width: 90%;
    text-align: center;
}
.text{
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
}


.form-box{    
    display: flex;
    margin: 1rem;
    height: 100%;
    flex-wrap: nowrap;
    margin: 0 19%;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    width: 30vh;

}
.provinces{
    display: grid;
    grid-template-columns:0.25fr 1fr;
    grid-template-rows:auto;
    align-content: start;
    justify-content: end;
    align-items: baseline;

}
.provinces input[type=checkbox]{
    margin: 0.7rem;
    float: left;
    transform: scale(1.7);
}
label {
    font-size: 1.5rem;
    display:flex; 
    flex-direction: row;
    align-items: center;
    width:max-content;    
    margin: 0.5rem;
   }
   
label:hover {
    cursor:pointer;
   }

   button[type=submit] {
    color: var(--bgc);
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 3px;
    cursor: pointer;
    margin: 0.5rem;
    align-self: center;
    font-size: 2rem;
    text-align: center;
    width: fit-content;
}
.submit-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    
}
/*---------------------- grid de pasaporte aceptado -----------------------*/ 
.passports{
    display: none;
}
.grid-container {
    background-image: url(../assets/passport/plantilla-pasaporte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: 15px solid #363547; 
    border-radius: 2%;
    overflow: hidden;
    margin: 5%;
    font-family: "OCR-B", monospace;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    box-shadow: 0 0 0 100rem #0000009c;
    width: 90%;
    aspect-ratio: 1/1;
    height: auto;
    max-height: 65%;
    min-width: 300px;
}
@import url('https://fonts.googleapis.com/css2?family=OCR+B&display=swap');
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    order:-1;
    border-right: black 1px solid;
    grid-row: 1/ 4;
    padding: 3%;
    

}
.grid-item2{
    order: 0;
    padding: 5%;    
}
.grid-stamp{
    grid-column: 2;
    grid-row: 2 / 4;
}
.stamp {
    margin-top: 25%;
    width: 100%;
    padding: 1.5em;
    height: auto;
    animation-name: pulse;
    animation-delay:1.5s;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode:forwards;
}

@keyframes pulse{
  0%{
    opacity: 0;
  }
  10%{
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100%{
    opacity:1;
    transform: rotate(-15deg) scale(1);
  }
}



.bold-text {
    font-weight: bold;
    font-size: 1.1rem;
    align-self: flex-start;
    padding: 2%;
}


/*map styling*/

.map{
    pointer-events: auto;
}
.map.noclick{
    pointer-events: none;
}

.map path {
    fill: var(--primary);
    stroke: var(--bgc);
    stroke-width: 2px;
    cursor: pointer;
}

.map :hover{
    fill: var(--hover);
}

/*svg highlight*/

rect{
    fill: var(--highlight);
    stroke: transparent;
    opacity: 0.5;
    cursor: pointer;
}


.back{
    color: var(--bgc);
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 50px;
    float: right;
}
/*cards*/

.info-card{
    display: none;
}
.card{
    background-color: var(--bgc);
    box-shadow: 0 0 0 100rem #0000009c;
    position: absolute;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:0.3fr repeat(7, 2fr);
    margin-bottom: 15%;
    padding: 1rem;
    left:10%;
    top:18%;
    min-width: 250px;
    width: 85%;
    gap: 5px;

}
.close{
    position: relative;
    display: flex;
    cursor: pointer;
    right: 0;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    justify-content: end;
    order: 0;
    height: 25px;
    width: 25px;
    justify-self: end;
}

/*info*/

h1.info{
    order:-1;
    grid-column: auto;
    margin-top: 3%;
    color: var(--primary);
    padding: 5%;
    grid-column: 1/3;
}
ul.info{
    padding: 3%;
    list-style-type: none;
    gap: 0.8rem; 
    order: 0;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
}
/*images*/

.gallery{
    width: 100%;
    min-width: 220px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    grid-column: 1/4;
}

.footer{
    bottom:0;
    height: 6.5rem;
    left: 0;
    width: 100%;
    padding: 5%;
    display:block;
    background-color: var(--primary);
    color: rgb(12, 9, 9);
    text-align: center;

}


/* -- diseño para computadora --*/


@media (width > 770px) {

/*menu*/

.header .burger{
    display: none;
}
.header{
    flex-flow: row nowrap;
    gap: 1rem;
}
.nav{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    padding: 1.3rem;
    align-items: flex-end;
    pointer-events: auto;
}
.nav-list{
    font-size: 1.2rem;
    flex-direction: row;

}
.nav-list li {
    margin: 0 .5 rem;
}

.nav-list li a:hover {
    background-color: var(--hover);
}

.inicio{
    background-size:cover;
    background-repeat: no-repeat;
    background-color: var(--bgc);
}
.section{
    padding: 5% 10%;
    max-height: 85vh;
}

/*form*/

.form-box{    
    min-width: 25rem;
    display: flex;
    margin: 1rem;
    height: 80%;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 0;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    width: 70vh;
    align-self: center;
}

button[type=submit] {
    color: var(--bgc);
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.3rem;
}
.title{
    font-size: 2.3rem;
}
.text{
    font-size: 1.3rem;

}
label {
    font-size: 1.3rem;
}

.grid-container{
    left: 20%;
    top: 5%;
    max-width: 50%;
    max-height: 55%;
}
.bold-text {
    font-size: 2rem;
}
.submit-buttons{
    display: flex;
    flex-direction: row;
    width: 70vh;
    justify-content: flex-start;
    gap: 10%;
    
}
.provinces{
    display: grid;
    grid-template-columns:0.25fr 1fr 0.25fr 1fr;
    grid-template-rows:auto;
    align-content: start;
    justify-content: end;
    align-items: baseline;

}
/*map*/

.map{
    height: 90%;
    width: 49vh;
    pointer-events: auto;
}
/*cards*/

.card {
    padding: 1.5rem;
    border-radius: 1%;
    max-width:160rem;
    min-width: 700px;
    left: 10%;
    grid-template-columns:repeat(4, 3fr);
    grid-template-rows:0.5fr 3fr 3fr;    
    height: auto;
}
.close{
    order: 0;
}
h1.info{
    order:-1;
    padding: 0;
    grid-column: 1/4;
    align-self: flex-end;
    padding-left:3% ;
}
ul.info{
    align-items: start;
    order: 0;
    grid-row: 2/4;
    grid-column: auto;
    min-width: 190px;
}

.gallery{
    aspect-ratio: 1/1;
    grid-column: auto;
    min-width: 150px;
    height: auto;
}

}




